<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Default Bookmark Guid</key>
  <string>${profile}</string>
        <key>LoadPrefsFromCustomFolder</key>
        <true/>
        <key>PrefsCustomFolder</key>
  <string>/Users/nsa/.dotfiles/caches/iterm/</string>
</dict>
</plist>
